<%- include("../partials/header")  %>

<div class="container marketing" style="  background: #232526;">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">Your personal dashboard</h2>
        <p class="lead">At grademy we don’t just provide users with quizzes to solve with their results later on, rather our state of the art data analytic system monitors the users work, progress and activity and later represents it to users in such a way as to make it easy for them to spot their weak & strong points. This is where the dashboard comes in. the central navigation page also provides you with the aforementioned data in easy to interpret graphs and charts. </p>
        <p class="lead">The positioning system helps you gauge your standings among other users in both overall standings and subject wise standings. This utilizes the “work smart” mantra as the user can then keep working on their weaker subjects while maintaining their strong suits as well.</p>
    </div>
      <div class="col-md-7">
        <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/grademy/image/upload/v1594028318/dashboard_k5eofa.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 order-md-2">
        <h2 class="featurette-heading">Grademy score system. </h2>
        <p class="lead"> The scoring system of grademy prepares the user for any and all scenarios as they say prepare for the worst and hope for the best.</p>
        <p class="lead">For each correct option users will be awarded +4 points and for each incorrect -1. Why still continue with the negative marking scheme even though it’s not part of any test now? Well this is done on purpose, to make you skip questions that you are not sure about as a mental exercise for time utilization and preparation. </p>
        <p class="lead">Grademy score system is designed in such a way so that it reflects user's weekly performance. As on average a good students solves 800 MCQs per week. Thus monitoring if a user is on par with their schedule or not. Grademy MCQ’s distribution is as following ... </p>
        <div class="row">
            <div class="col-md-6">
                <h3 >For MDCAT students</h3>
                <ul class="lead">
                    <li>Biology last 320 mcqs</li>
                    <li>Chemistry last 240 mcqs</li>
                    <li>Physics last 160 mcqs</li>
                    <li>English last 80 mcqs</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 >For FUNG students</h3>
                <ul class="lead">
                    <li>Math last 320 mcqs</li>
                    <li>Physics last 240 mcqs</li>
                    <li>Chemistry last 160 mcqs</li>
                    <li>English last 80 mcqs</li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">Score distribution Chart </h2>
        <p class="lead">During entry test preparation it’s really hard for students to figure out how much attention should they give to each subject, they try different schemes such as trying to distribute their preparation time according to the weightage of the subject. Well such schemes aren't the best practice, as for each student the understanding of each subjects is different. For some student physics is easier than chemistry and for some students the case is opposite. To solve this problem Grademy introduces "Score distribution" chart. This chart will help you understand on which subject you have to work more. All you have to do is to maintain a balance in the subjects. Grademy recommendations are…</p>
        <div class="row">
            <div class="col-md-6">
                <h3 >For MDCAT </h3>
                <ul class="lead">
                    <li>Biology at 40%</li>
                    <li>Chemistry at 30%</li>
                    <li>Physics at 20%</li>
                    <li>English at 10%</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 >For FUNG </h3>
                <ul class="lead">
                    <li>Math at 40%</li>
                    <li>Physics at 30%</li>
                    <li>Chemistry at 20%</li>
                    <li>English at 10%</li>
                </ul>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/grademy/image/upload/v1594028317/scoredistribution_ngjvtf.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/grademy/image/upload/v1594028327/chapterchart_uhptdk.png" alt="Generic placeholder image">
          </div>
      <div class="col-md-5">
        <h2 class="featurette-heading">Chapter's chart</h2>
        <p class="lead">Chapter's chart will help you analyze each chapter of a specific subject. Outcomes from this chart could be: If have skipped too many questions of a particular chapter then that means you haven’t prepared some topics of the said chapters or if you have attempted too many wrong questions then that means you have studied that chapter but your concepts aren't yet clear for that chapter yet. Thus helping in gauging the user’s preparation down to the individual chapters and their contents for each subject.</p>
    </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">History</h2>
        <p class="lead">History chart will help you analyze your current situation as compare to you previous record. As the saying goes “Those who do not learn from history are doomed to repeat it”. Hence the grademy history graphs help improve the user’s preparation and serve as a moral boaster simultaneously. </p>
    </div>
      <div class="col-md-7">
        <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/grademy/image/upload/v1594028326/historychart_usiryj.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

</div>

<%- include("../partials/footer")  %>
