.choice-container {
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    height: 30px;
}
.correct{
    border : 1px solid rgb(3, 204, 13);
}
.incorrect{
    border : 1px solid rgb(231, 4, 4);
}
.solvedBy{
    font-size: small;
}