<%- include("../partials/header")  %>
<link rel="stylesheet"  type="text/css" href="/css/login.css" />
<link rel="stylesheet"  type="text/css" href="/css/floating-labels.css" />
<div class="containerd">
  <form  action="/resetpassword"  method="POST">
    <div class="login-div">
      <div class="logo"><img class="logo" src="https://res.cloudinary.com/grademy/image/upload/v1592388510/fuehwqgkf3g4qg86tyeg.png"></div>
      <div class="title">Password reset</div>
      <%- include("../partials/flash")  %>
      <div class="fields">
        <div class="form-label-group">
          <input type="text" autocomplete="off" class="user-input" id="username" name="token" placeholder="Reset key" required autofocus>
          <label for="inputEmail">Reset key</label>
        </div>
        <div class="form-label-group">
          <input type="password" class="user-input" id="password" name="password" placeholder="New Password" required >
          <label for="inputEmail">New Password</label>
        </div>  
      <button class="signin-button" type="submit">UPDATE</button>
      <div class="link"><a href="/forgot">Didn't receive reset key ?</a></div>
    </div>
  </form>
</div>
<script>
  setTimeout(()=>{
    document.getElementById("flash").style.display = "none"
    console.log("hide flash")
  },3000)
</script>
